html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Mikro, sans-serif;
    color: whitesmoke;
    font-weight: 700;
    line-height: .95;
    

    background-image: url('/Images/WebPrjctBackground1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* This will fix the background image and content will scroll */


}
.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nabvar {
    color: whitesmoke;
    background-color: darkslategrey;
}
