@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">**Welcome to Hustlerz Oasiz!**</h1>
    <p><strong>Your place to offer or seak services</strong></p>
   
</div>
