@model JobFormModel;
@{
	ViewBag.Title = ".Edit Job.";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr/>
<partial name  = "_JobFormPartial" model = "@Model"/> 

@section Scripts{
	<partial name = "_ValidationScriptsPartial"/>
}