@using HustlerzOasiz.Web.ViewModels.Job
@model IEnumerable<JobsIndexViewModel>

@{
    var jobs = Model.ToList();
}

<div class="project_section layout_padding padding_top_90">
    <div class="container">
        <h1 class="project_taital">Latest Jobs Published</h1>
        <div class="project_menu">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link" href="#">Ammonition</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Protection</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Special Mission</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Cyber warfare / Cyber security</a></li>
            </ul>
        </div>
    </div>
    <div class="container mt-5">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @for (var i = 0; i < jobs.Count; i++)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <img src="@jobs[i].ImageUrl" class="d-block w-100" alt="@jobs[i].Title">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@jobs[i].Title</h5>
                        </div>
                    </div>
                }
            </div>
            
        </div>
    </div>
    <div class="container mt-6">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>

    </div>
</div>
